root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{app,bin,config}/**]
indent_size = 2

[{index.js,index.html,index.less,package.json}]
indent_size = 2

